body 
{
    font-family: Arial, Helvetica, sans-serif;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(247, 247, 248), rgb(213, 224, 247));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(247, 247, 248), rgb(213, 224, 247)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

/* The Modal (background) */
#gameModeModal, #multiPlayerModal, #endModal, #singlePLayerModal{  
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 180px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


#multiPlayerModal,#endModal,#singlePlayerModal{
    display: none;
}

#gameModeModal{
    display: block;
}


/* Modal Content */
#modal-start {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  text-align: center;
  width: 30%;
}

@media screen and (max-width: 950px) 
{   
    #modal-start{
    width: 50%;
    }
}

@media screen and (max-width: 550px) 
{   
    #modal-start{
    width: 80%;
    }
}

#users, #user{
    width: 150px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgb(192, 187, 187);
}

#user:hover, #users:hover, #user:focus, #users:focus{
    cursor: pointer;
    width: 160px;
    height: 35px;
    outline: 0;
    border: none;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  cursor: pointer;
}

/*
    Second modal asking for multi player names
*/

.label-div{
    margin-top: 20px;
}

.input-div{
    margin: 5px 0;
}


#submit-names, #submit-name{
    height: 30px;
    margin-top: 15px;
    color: white;
    font-size: medium;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid rgb(51, 141, 66);
    background-color: rgb(51, 141, 66);
}

#submit-names:hover, #submit-names:focus, #submit-name:hover, #submit-name:focus{
    cursor: pointer;
    outline: 0;
    border: none;
}


/*
Main UI containing board,restart button and turn status
*/

#main-ui{
    text-align: center;
}

#board{
    display: inline-grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 20px 0;
    border: 1px solid rgb(156, 151, 151);
    border-radius: 15px;
    width: 363px;
    height: 363px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px rgba(0,0,0,0.3);
    align-items: center;
}

#board div{
    border: 1px solid rgb(156, 151, 151);
    width: 119px;
    height: 119px;
    line-height: 119px;
    font-size: xx-large;
    font-weight: bolder;
}

div[data-index='0']{
    border-top-left-radius: 10px;
}

div[data-index='2']{
    border-top-right-radius: 10px;
}

div[data-index='6']{
    border-bottom-left-radius: 10px;
}

div[data-index='8']{
    border-bottom-right-radius: 10px;
}

#display-turn{
    margin-top: 10px;
    font-size: large;
    font-weight: 500;
}

.restart, .end-restart{
    background-color: khaki;
    height: 30px;
    border: 1px solid khaki;
    border-radius: 5px;
    margin-top: 5px;
}

.restart:hover, .restart:focus, .end-restart:hover, .end-restart:focus{
    cursor: pointer;
    outline: 0;
    border: none;
}